@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --btn-bg: #5644b3;
  --font-header: "DM Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.text-primary1 {
  color: #aca2e7;
}

.text-primary2 {
  color: #5644b3;
}

.btn-bg {
  background-color: #5644b3;
  color: white;
  width: 140px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}
.btn-bg:hover {
  background-color: #5644b3;
  color: white;
}

.btn-primary1 {
  background-color: var(--btn-bg);
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  font-size: 10px;
  color: white;
  border-radius: 8px;
}

.btn-white {
  background-color: white;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  font-size: 10px;
  color: #332098;
  border-radius: 8px;
}

.btn-blank {
  border: none;
  border-radius: 0;
  padding: 10px 10px;
  font-size: 10px;
  color: white;
  border-radius: 8px;
  background-color: transparent;
  transition: 0.3s;
}
.btn-blank:hover {
  color: var(--btn-bg);
}

#con-bg {
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0;
  background-image: url("../img/png.png");
}

#logo {
  width: 80px;
}

#nav-items-holder {
  margin-left: 10px;
}
#nav-items-holder li {
  margin-left: 20px;
  font-size: 13px;
}
#nav-items-holder li a {
  color: white;
}

#country-flag {
  list-style: none;
}
#country-flag a {
  font-size: 13px;
}
#country-flag a img {
  width: 25px;
  height: 25px;
}

#hero .mobile {
  text-decoration: none;
  width: 290px;
  display: flex;
  position: relative;
  left: calc(50% - 145px);
  border-radius: 100px;
  align-items: center;
  gap: 10px;
  color: black;
  margin-top: 20px;
  scale: 0.9;
}
#hero .mobile .new {
  background-color: #5644b3;
  color: white;
  font-size: 10px;
  border-radius: 50px;
  padding: 3px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .mobile .text {
  font-size: 12px;
}
#hero .h1 {
  font-family: var(--font-header);
  font-size: 55px;
  font-weight: 600;
}
#hero #h1-2 {
  margin-top: -10px;
}
#hero .text-content {
  width: 450px;
  position: relative;
  left: calc(50% - 225px);
  color: #e9e5ff;
  font-size: 15px;
}

figure {
  width: 70%;
  height: 400px;
  position: relative;
  left: 15%;
  background-image: url("https://res.cloudinary.com/catlog/image/upload/c_scale,w_2025/v1756307242/marketing-pages/thumbnails/hero-image.webp");
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  border-radius: 30px;
}
figure .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 32, 152, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
figure .overlay #play {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}

#modal-video {
  height: 400px;
}
#modal-video iframe {
  width: 100%;
  height: 100%;
}

#trusted-business {
  width: 100%;
}
#trusted-business .h6 {
  display: flex;
  justify-content: center;
}
#trusted-business .busi-brand {
  width: 100%;
}
#trusted-business .busi-brand a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(85, 85, 85, 0.1);
}
#trusted-business .busi-brand a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#work-smart .h1 span {
  font-family: "DM Sans", sans-serif;
}
#work-smart #onlinestore {
  background-color: rgb(247, 245, 255);
  border: none;
  border-radius: 30px;
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}
#work-smart #onlinestore .h2 {
  font-family: var(--font-header);
}
#work-smart #onlinestore p {
  font-size: 14px;
  color: rgb(97, 97, 97);
}
#work-smart #onlinestore a {
  margin-top: 170px;
}
#work-smart #onlinestore #card-img {
  width: 520px;
}
#work-smart #onlinestore #card-img-2 {
  width: 450px;
  position: relative;
  left: calc(50% - 225px);
}

.card-2 {
  border: none;
  background-color: #fff3ee;
  border-radius: 20px;
  height: 460px;
}
.card-2 p {
  font-size: 14px;
  color: rgb(97, 97, 97);
}

#chowbot {
  position: relative;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
}
#chowbot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#chowbot #container {
  z-index: 10;
  margin-top: 150px;
  position: relative;
}
#chowbot #container h1 span {
  font-family: var(--font-header);
}
#chowbot #container p {
  color: #535353;
}
#chowbot #container a {
  margin-top: 120px;
}
#chowbot #container .img-holder {
  background-color: #ffe7de;
  width: 380px;
  height: 380px;
  border-radius: 30px;
  position: relative;
  left: calc(50% - 190px);
  top: calc(50% - 190px);
  overflow: hidden;
}
#chowbot #container .img-holder img {
  width: 70%;
  position: relative;
  left: 15%;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  #con-bg {
    height: 600px;
  }
  #nav-items-holder {
    margin-left: 0px;
    position: relative;
  }
  #nav-items-holder li {
    margin-left: 0px;
  }
  #nav-items-holder li a {
    color: black;
  }
  .navbar-collapse {
    background-color: white;
    margin-top: 12px;
    top: 0;
    padding: 20px;
    border-radius: 20px;
  }
  #search {
    display: block;
  }
  .btn-blank {
    width: 100%;
    border: 1px solid var(--btn-bg);
    color: #5644b3;
  }
  .btn-primary1 {
    width: 100%;
    margin-top: 10px;
  }
  #country-flag {
    display: none;
  }
  #btn-toggler {
    box-shadow: none;
    border: none;
    color: white;
  }
  #btn-toggler .navbar-toggler-icon {
    display: none;
  }
  #hero .h1 {
    font-size: 35px;
  }
  #hero #h1-2 {
    margin-top: -5px;
  }
  #hero .text-content {
    width: 300px;
    left: calc(50% - 150px);
    font-size: 13px;
  }
  #hero .CAT {
    width: 100%;
    margin-top: 10px;
    scale: 0.9;
    justify-content: center;
    align-items: center;
  }
  #hero .CAT button {
    width: 100%;
    font-size: 9px;
  }
  figure {
    width: 100%;
    left: 0%;
    height: 250px;
  }
  #trusted-business .busi-brand a {
    width: 45px;
    height: 45px;
  }
  #work-smart #onlinestore {
    height: 500px;
  }
  #work-smart #onlinestore a {
    margin-top: 20px;
  }
  #work-smart #onlinestore #card-img {
    width: 430px;
  }
  #work-smart #onlinestore #card-img-2 {
    width: 360px;
    left: calc(50% - 180px);
  }
  .card-2 {
    height: 400px;
  }
  .btn-primary1 {
    padding: 10px 20px;
  }
  .btn-white {
    padding: 10px 20px;
    height: 40px !important;
    margin-top: 5px;
  }
  #chowbot {
    height: 800px;
  }
  #chowbot img {
    height: 100%;
    width: 1000px;
    left: -80px;
  }
  #chowbot #container {
    margin-top: 100px;
  }
  #chowbot #container a {
    margin-top: 20px;
  }
  #chowbot #container .img-holder {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */